# macOS
.DS_Store

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# Visual Studio Code
.vscode/

# Logs
*.log

# Swagger generated docs
docs/

# Environment variables
.env

main
