version: '3'

services:
  db:
    image: mysql
    container_name: temp-clean
    network_mode: host
    environment:
      - MYSQL_ROOT_PASSWORD=12345
      - MYSQL_DATABASE=test
    ports:
      - "3307:3306"
    restart: always

